[Desktop Entry]
Type=Application
Name=SPECTRAL
Comment=Advanced System Interface & Dashboard
Exec=spectral
Icon=/media/yashvs/vault/spectre/spectral.png
Terminal=true
Categories=System;Utility;TerminalEmulator;
StartupNotify=true
Keywords=dashboard;system;monitor;
