[Desktop Entry]
Type=Application
Name=SPECTRE
Comment=Advanced System Interface & Dashboard
Exec=spectre
Icon=/media/yashvs/vault/spectre/spectre.png
Terminal=true
Categories=System;Utility;TerminalEmulator;
StartupNotify=true
Keywords=dashboard;system;monitor;
